<nav class="navbar navbar-default navbar-static-top navbar-inverse nav-custom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-left">
                <a href="/">
                    <img src="lang_logo.png" alt="JL" width="50" height="50">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
              <a href="https://github.com/fiwnq"><i class="fa-brands fa-github"></i></a>
            </li>
          </ul>
    </div>
</nav>