<nav class="navbar navbar-default navbar-static-top navbar-inverse nav-custom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-left">
                <a href="/">
                    <img src="lang_logo.png" alt="JL" width="40" height="40">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://github.com/fiwnq" class="custom-link"><i class="fa-brands fa-github fa-2x"> </i></a>
                <a href="https://www.linkedin.com/in/jacob-landgraf-b83959332/" class="custom-link"><i class="fa-brands fa-linkedin fa-2x"> </i></a>
                <a href="https://discordapp.com/users/321705213322985472" class="custom-link"><i class="fa-brands fa-discord fa-2x"> </i></a>
                <a href="https://twitter.com/fiwnq" class="custom-link"><i class="fa-brands fa-square-twitter fa-2x"> </i></a>
                <a href="https://steamcommunity.com/id/fiwnq/" class="custom-link"><i class="fa-brands fa-square-steam fa-2x"> </i></a>
            </li>
        </ul>
    </div>
</nav>