<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-left">
                <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
              <a href="/about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About Me</a>
            </li>
          </ul>
    </div>
</nav>