.bg {
  background: #1a1522;
  color: rgb(237, 192, 255);
  margin: 70px;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-custom {
  padding-top: 20px;
  background: #2e263b;
  color: pink;
}
