.icon {
  --fa-primary-color: rgb(237, 192, 255);
  --fa-pull-margin: 10px;
}

html, body {
  width: 100%;
  overflow: hidden;
  background: #12032b;
}

.bg {
  background: #12032b;
  color: rgb(237, 192, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.nav-custom {
  background: #130d1d;
  color: #edc0ff;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  padding-top: 69px;
}

h2 {
  padding-bottom: 15px;
}

a.custom-link {
  color: rgb(237, 192, 255);
  margin-left: 15px;
}

a.custom-link:visited {
  color: rgb(206, 172, 219);
}

a.custom-link:hover {
  color: rgb(149, 110, 165); 
}

a.custom-link:active {
  color: rgb(237, 192, 255); 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12032b;
}
.button-container a {
  text-decoration: none;
}
.button-container button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(237, 192, 255);
  color: #12032b;
}

.result {
  color: rgb(237, 192, 255);
}

#recently-played {
  color: rgb(237, 192, 255);
}