<!DOCTYPE html>

<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>
    <div class="bg">
      <h1>Hello World!</h1>
    </div>
    <div id="contactForm" class="popup-form">
      <form action="mailto:landgrafj752@gmail.com" method="post" enctype="text/plain">
          <span class="close" id="closeBtn">&times;</span>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>

          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>

          <input type="submit" value="Send">
      </form>
  </div>
  </body>
</html>
