<!DOCTYPE html>

<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>
    <div class="bg">
      <h1>Hi!<br>I'm Jacob "fiwnq" Landgraf<br>CS student at Lipscomb University<div id="result" class="result bg"></div></h1>
      <h2>Find out more about me and what I'm working on here!</h2>
    </div>
    <div class="button-container">
      <a href="resume.pdf" target="_blank"><button>Resume</button></a>
    </div>
  </body>
</html>
