<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/projectheader.ejs") %>
    </head>
<body>
    <div class="container">
        <div class="project">
            <img src="project1.jpg" alt="Project 1">
            <h3>Project Title 1</h3>
            <p>Short description of project 1.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div>
        <div class="project">
            <img src="project2.jpg" alt="Project 2">
            <h3>Project Title 2</h3>
            <p>Short description of project 2.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div>
        <div class="project">
            <img src="project3.jpg" alt="Project 3">
            <h3>Project Title 3</h3>
            <p>Short description of project 3.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div>
        <div class="project">
            <img src="project4.jpg" alt="Project 4">
            <h3>Project Title 4</h3>
            <p>Short description of project 4.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div>
        <!--<div class="project">
            <img src="project5.jpg" alt="Project 5">
            <h3>Project Title 5</h3>
            <p>Short description of project 5.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div>
        <div class="project">
            <img src="project6.jpg" alt="Project 6">
            <h3>Project Title 6</h3>
            <p>Short description of project 6.</p>
            <div class="buttons">
                <button class="button">Source Code</button>
                <button class="button">View Project</button>
            </div>
        </div> -->
    </div>
</body>
</html>
